.commentsListContainer {
  margin-left: 20px;
  padding: 0 10px 0 30px;
  border-left: 1px solid #3d3d3d;
  min-height: 440px;
  .commentsListContainer__headline {
    color : #3d3d3d;
    font-size: 20px;
  }
  .commentsList {
    display: flex;
    flex-direction: column;
    height: 440px;
    list-style: none;
    padding: 0;
    width: 300px;
    padding: 10px 10px 10px 0;
    overflow-y: auto;
    .commentsListItem {
      margin-bottom: 20px;
      border-bottom: 1px solid #3d3d3d;
      padding: 10px 0;
    }
    .commentsListItem:last-child {
      margin-bottom: 0;
    }
  }
  .commentsListContainer__placeholder {
    display: block;
    margin-top: 59px;
  }

  .commentInfo {
    display: flex;
    justify-content: space-between;
    flex-basis: 300px;
    font-size: 14px;
    font-weight: bold;
    color: #1f4c5d;
    margin-bottom: 10px;
  }

  .commentsListItem__message {
    font-size: 14px;
  }
}
